# 端口
prot=8089 

#数据库
sqlName=
sqlType=postgres
sqlUserName=
sqlPwd=
sqlHost=localhost

# redis密码
redisPwd=

# 密钥(登录使用)
secret=
# ai用户
aiUserSecret=
# 环境
NODE_ENV=development

# 阿里云短信服务
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=

# AI服务
AI_BASE_URL=https://www.dmxapi.cn/v1
AI_API_KEY=

# 对话模型
AI_DIALOGUE_MODEL=

# 视频生成模型
AI_VIDEO_MODEL=doubao-seedance-2-0-260128


# UAPIS服务KEY(https://uapis.cn)
UAPIS_API_KEY=
UAPIS_BASE_URL=https://uapis.cn

REVALIDATION_SECRET=
BLOG_URL=

SERVER_URL=http://localhost:8089