# 端口
prot=8089 

#数据库
sqlName=
sqlType=postgres
sqlUserName=
sqlPwd=
sqlHost=localhost

# redis密码
redisPwd=

# 密钥(登录使用)
secret=
# ai用户
aiUserSecret=
# 环境
NODE_ENV=development

# 阿里云短信服务
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=

# AI服务
AI_BASE_URL=
AI_API_KEY=

# 对话模型
AI_Dialogue_MODEL=

# UAPIS服务KEY(https://uapis.cn)
UAPIS_API_KEY=
UAPIS_BASE_URL=https://uapis.cn

REVALIDATION_SECRET=
BLOG_URL=
